body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(221, 221, 221);
}
pre {
  font-size: 7em;
}
.world_map {
  display:inline-block;
}
.country {

  stroke: #ffffff;
  stroke-width: 0.2;
}

.labels {
  font-family: sans-serif;
  font-size: 11px;
  fill: #3c373d;
}
.container{
  display:flex;
  background-color: rgb(255, 255, 255);

}
.infoPanel {
  margin-right: 5vw;
  background-color: rgb(255, 255, 255);
  padding: 3em;
  width: 25em;
  border-radius: 25px;
}
